# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore any folder starting from underscore
_*/

# Ignode Visual Studio Code temp folder
.vs/
.vscode/
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/haisrt.pc
build/Makefile
build/srt.pc
build/version.h
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7325c6fd911983f7aa16.json
build/.cmake/api/v1/reply/codemodel-v2-dcf820dfb2e06b635ba1.json
build/.cmake/api/v1/reply/index-2020-11-25T16-43-09-0695.json
build/.cmake/api/v1/reply/target-srt_shared-Debug-f62372c95f8461c2a9fc.json
build/.cmake/api/v1/reply/target-srt_static-Debug-b8fde0e648bd972f00bb.json
build/.cmake/api/v1/reply/target-srt_virtual-Debug-5aa2a9b675b60d469bbc.json
build/.cmake/api/v1/reply/target-srt-file-transmit-Debug-a771579c817475dcc034.json
build/.cmake/api/v1/reply/target-srt-live-transmit-Debug-c06c9a216df7e85ac73d.json
build/.cmake/api/v1/reply/target-srt-live-transmit-derivate-Debug-f6b1dc6184ea88209a4f.json
build/.cmake/api/v1/reply/target-srt-tunnel-Debug-aa927273b3ad274b6f31.json
build/.cmake/api/v1/reply/target-srtsupport_virtual-Debug-0e0431e60f582a7b8a6d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/srt-file-transmit.dir/build.make
build/CMakeFiles/srt-file-transmit.dir/cmake_clean.cmake
build/CMakeFiles/srt-file-transmit.dir/depend.make
build/CMakeFiles/srt-file-transmit.dir/DependInfo.cmake
build/CMakeFiles/srt-file-transmit.dir/flags.make
build/CMakeFiles/srt-file-transmit.dir/link.txt
build/CMakeFiles/srt-file-transmit.dir/progress.make
build/CMakeFiles/srt-live-transmit-derivate.dir/build.make
build/CMakeFiles/srt-live-transmit-derivate.dir/cmake_clean.cmake
build/CMakeFiles/srt-live-transmit-derivate.dir/depend.make
build/CMakeFiles/srt-live-transmit-derivate.dir/DependInfo.cmake
build/CMakeFiles/srt-live-transmit-derivate.dir/flags.make
build/CMakeFiles/srt-live-transmit-derivate.dir/link.txt
build/CMakeFiles/srt-live-transmit-derivate.dir/progress.make
build/CMakeFiles/srt-live-transmit.dir/build.make
build/CMakeFiles/srt-live-transmit.dir/cmake_clean.cmake
build/CMakeFiles/srt-live-transmit.dir/depend.make
build/CMakeFiles/srt-live-transmit.dir/DependInfo.cmake
build/CMakeFiles/srt-live-transmit.dir/flags.make
build/CMakeFiles/srt-live-transmit.dir/link.txt
build/CMakeFiles/srt-live-transmit.dir/progress.make
build/CMakeFiles/srt-tunnel.dir/build.make
build/CMakeFiles/srt-tunnel.dir/cmake_clean.cmake
build/CMakeFiles/srt-tunnel.dir/depend.make
build/CMakeFiles/srt-tunnel.dir/DependInfo.cmake
build/CMakeFiles/srt-tunnel.dir/flags.make
build/CMakeFiles/srt-tunnel.dir/link.txt
build/CMakeFiles/srt-tunnel.dir/progress.make
build/CMakeFiles/srt_shared.dir/build.make
build/CMakeFiles/srt_shared.dir/cmake_clean.cmake
build/CMakeFiles/srt_shared.dir/depend.make
build/CMakeFiles/srt_shared.dir/DependInfo.cmake
build/CMakeFiles/srt_shared.dir/flags.make
build/CMakeFiles/srt_shared.dir/link.txt
build/CMakeFiles/srt_shared.dir/progress.make
build/CMakeFiles/srt_static.dir/build.make
build/CMakeFiles/srt_static.dir/cmake_clean_target.cmake
build/CMakeFiles/srt_static.dir/cmake_clean.cmake
build/CMakeFiles/srt_static.dir/depend.make
build/CMakeFiles/srt_static.dir/DependInfo.cmake
build/CMakeFiles/srt_static.dir/flags.make
build/CMakeFiles/srt_static.dir/link.txt
build/CMakeFiles/srt_static.dir/progress.make
build/CMakeFiles/srt_virtual.dir/build.make
build/CMakeFiles/srt_virtual.dir/cmake_clean.cmake
build/CMakeFiles/srt_virtual.dir/depend.make
build/CMakeFiles/srt_virtual.dir/DependInfo.cmake
build/CMakeFiles/srt_virtual.dir/flags.make
build/CMakeFiles/srt_virtual.dir/progress.make
build/CMakeFiles/srtsupport_virtual.dir/build.make
build/CMakeFiles/srtsupport_virtual.dir/cmake_clean.cmake
build/CMakeFiles/srtsupport_virtual.dir/depend.make
build/CMakeFiles/srtsupport_virtual.dir/DependInfo.cmake
build/CMakeFiles/srtsupport_virtual.dir/flags.make
build/CMakeFiles/srtsupport_virtual.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.16.3/CMakeCCompiler.cmake
CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.16.3/CMakeSystem.cmake
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/srt-file-transmit.dir/build.make
CMakeFiles/srt-file-transmit.dir/cmake_clean.cmake
CMakeFiles/srt-file-transmit.dir/CXX.includecache
CMakeFiles/srt-file-transmit.dir/depend.internal
CMakeFiles/srt-file-transmit.dir/depend.make
CMakeFiles/srt-file-transmit.dir/DependInfo.cmake
CMakeFiles/srt-file-transmit.dir/flags.make
CMakeFiles/srt-file-transmit.dir/link.txt
CMakeFiles/srt-file-transmit.dir/progress.make
CMakeFiles/srt-live-transmit-derivate.dir/build.make
CMakeFiles/srt-live-transmit-derivate.dir/cmake_clean.cmake
CMakeFiles/srt-live-transmit-derivate.dir/CXX.includecache
CMakeFiles/srt-live-transmit-derivate.dir/depend.internal
CMakeFiles/srt-live-transmit-derivate.dir/depend.make
CMakeFiles/srt-live-transmit-derivate.dir/DependInfo.cmake
CMakeFiles/srt-live-transmit-derivate.dir/flags.make
CMakeFiles/srt-live-transmit-derivate.dir/link.txt
CMakeFiles/srt-live-transmit-derivate.dir/progress.make
CMakeFiles/srt-live-transmit.dir/build.make
CMakeFiles/srt-live-transmit.dir/cmake_clean.cmake
CMakeFiles/srt-live-transmit.dir/CXX.includecache
CMakeFiles/srt-live-transmit.dir/depend.internal
CMakeFiles/srt-live-transmit.dir/depend.make
CMakeFiles/srt-live-transmit.dir/DependInfo.cmake
CMakeFiles/srt-live-transmit.dir/flags.make
CMakeFiles/srt-live-transmit.dir/link.txt
CMakeFiles/srt-live-transmit.dir/progress.make
CMakeFiles/srt-tunnel.dir/build.make
CMakeFiles/srt-tunnel.dir/cmake_clean.cmake
CMakeFiles/srt-tunnel.dir/CXX.includecache
CMakeFiles/srt-tunnel.dir/depend.internal
CMakeFiles/srt-tunnel.dir/depend.make
CMakeFiles/srt-tunnel.dir/DependInfo.cmake
CMakeFiles/srt-tunnel.dir/flags.make
CMakeFiles/srt-tunnel.dir/link.txt
CMakeFiles/srt-tunnel.dir/progress.make
CMakeFiles/srt_shared.dir/build.make
CMakeFiles/srt_shared.dir/C.includecache
CMakeFiles/srt_shared.dir/cmake_clean.cmake
CMakeFiles/srt_shared.dir/depend.internal
CMakeFiles/srt_shared.dir/depend.make
CMakeFiles/srt_shared.dir/DependInfo.cmake
CMakeFiles/srt_shared.dir/flags.make
CMakeFiles/srt_shared.dir/link.txt
CMakeFiles/srt_shared.dir/progress.make
CMakeFiles/srt_static.dir/build.make
CMakeFiles/srt_static.dir/C.includecache
CMakeFiles/srt_static.dir/cmake_clean_target.cmake
CMakeFiles/srt_static.dir/cmake_clean.cmake
CMakeFiles/srt_static.dir/depend.internal
CMakeFiles/srt_static.dir/depend.make
CMakeFiles/srt_static.dir/DependInfo.cmake
CMakeFiles/srt_static.dir/flags.make
CMakeFiles/srt_static.dir/link.txt
CMakeFiles/srt_static.dir/progress.make
CMakeFiles/srt_virtual.dir/build.make
CMakeFiles/srt_virtual.dir/C.includecache
CMakeFiles/srt_virtual.dir/cmake_clean.cmake
CMakeFiles/srt_virtual.dir/CXX.includecache
CMakeFiles/srt_virtual.dir/depend.internal
CMakeFiles/srt_virtual.dir/depend.make
CMakeFiles/srt_virtual.dir/DependInfo.cmake
CMakeFiles/srt_virtual.dir/flags.make
CMakeFiles/srt_virtual.dir/progress.make
CMakeFiles/srtsupport_virtual.dir/build.make
CMakeFiles/srtsupport_virtual.dir/cmake_clean.cmake
CMakeFiles/srtsupport_virtual.dir/CXX.includecache
CMakeFiles/srtsupport_virtual.dir/depend.internal
CMakeFiles/srtsupport_virtual.dir/depend.make
CMakeFiles/srtsupport_virtual.dir/DependInfo.cmake
CMakeFiles/srtsupport_virtual.dir/flags.make
CMakeFiles/srtsupport_virtual.dir/progress.make
config-status.sh
haisrt.pc
install_manifest.txt
libsrt.so.1
libsrt.so.1.4.2
Makefile
srt-file-transmit
srt-live-transmit
srt-live-transmit-derivate
srt-tunnel
srt.pc
version.h
cmake_install.cmake
CMakeCache.txt
